.container {
  display: flex;
  --maxWidth: 15rem;
  --maxHeight: 15rem;
  place-content: center;
  align-items: start;
  margin: 10px;

}

.film_festival {
  border:solid 5px;

  &__logo {
    display: block;
    max-width: var(--maxWidth);
    max-height: var(--maxHeight);
  }
}

.btn{
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #ebe8e0;
  border: none;
  font-family: 'Montserrat', monospace;
  font-size: 20px;
  color: #0a0a00;
  cursor: pointer;
}